@import "images";
@import "slide-animations";

:host {
    #greeting-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        max-height: 33vh;
        margin-bottom: 1em;
        place-content: center;
    }

    #greeting-text {
        margin: auto 1em;
    }

    .profile-img {
        @extend .slide-in-left;
        width: 100%;
        height: auto;
        flex-shrink: 0;
        max-height: unset;
    }

    @media screen and (min-width: 530px) {
      .profile-img {
        max-height: 33vh;
      }

      #greeting-text {
        max-width: 33vw;
      }
    }

    @media screen and (min-width: 1030px) {
      .profile-img {
        max-height: 33vh;
      }

      #greeting-text {
        max-width: 25vw;
      }
    }
}