@import "images";
@import "slide-animations";

:host {
    #greeting-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        max-height: 33vh;
        margin-bottom: 1em;
    }

    #greeting-text {
        margin: auto 1em;
    }

    .profile-img {
        @extend .slide-in-left;
        width: 100%;
        height: auto;
        flex-shrink: 0;
    }
}