@import "images";
@import "slide-animations";

:host {
  #greeting-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 33vh;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
  }

  #greeting-text {
    margin: auto 1em;
    width: 70vw;
  }

  #img-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .profile-img {
    @extend .slide-in-left;
    flex-shrink: 0;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
  }

  @media screen and (min-width: 530px) {
    #greeting-text {
      width: 40vw;
    }
  }

  @media screen and (min-width: 1030px) {
    #greeting-text {
      width: 25vw;
    }
  }
}
