<div id="greeting-container">
    <img class="profile-img" src="https://dantiberiazstorage.blob.core.windows.net/mywebsiteres/me.png" alt="A picture of Dan Tiberi">
    <div id="greeting-text">
        <h1>Hi There!</h1>
        <p>Deserunt cupidatat minim irure veniam ullamco et do eiusmod ut excepteur cillum quis esse. Sint aute minim aute ullamco consectetur ullamco commodo reprehenderit labore. Consectetur culpa ex do cupidatat minim cupidatat velit magna in. Mollit labore dolore eu sunt sunt ipsum proident. Deserunt dolor velit eu ipsum. Commodo nostrud fugiat deserunt enim commodo in incididunt nulla laborum.</p>
    </div>
</div>
