@import "backgrounds";
@import "slide-animations";

:host {
    .weather-container {
        @extend .light-gray-alpha-background;
        @extend .slide-in-right;

        h3 {
            font-size: 125%;
            text-align: center;
            padding-top: 1em;
            margin-bottom: 0em;
        }
    }

  .weather-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1em;

    .weather-card {
      display: flex;
      flex-direction: row;
      margin: 0.25em 0;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 5%;
      font-size: 150%;
      text-align: center;

      @extend .dark-gray-alpha-background;

      p {
        margin: unset;
        flex-basis: 25%;
      }

      .day-names {
        text-transform: uppercase;
        flex-basis: 25%;
      }

      .weather-icon {
        flex-basis: 25%;
      }

      .temp {
        padding: 0.25em;
        flex-basis: 25%;
      }
    }

    body.dark-mode & .weather-card:not(:first-child) {
      @extend .light-gray-alpha-background;
    }
    
    .weather-card:first-child {
      @extend .light-blue-alpha-background;
    }
  }

  @media screen and (min-width: 700px) {
    .weather-cards {
        flex-direction: row;
        justify-content: space-evenly;

        .weather-card {
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: center;
          padding: 1em;
          margin: unset;
          font-size: 100%;
        }
    }
  }

  @media screen and (min-width: 1000px) {
    .weather-container {
      width: 75%;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 2000px) {
    .weather-container {
      width: 55%;
    }
  }
}
