.light-gray-alpha-background {
    background-color: rgba(241, 242, 248, 0.2); //#f1f2f8
    border-radius: 5px;
    padding: 0.5em;
}

.dark-gray-alpha-background {
    background-color: rgba(51, 64, 71, 0.2); //#334047
    border-radius: 5px;
    padding: 0.5em;
}