@keyframes slideInFromLeft {
  0% {
    transform: translateX(-150vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(+150vw);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-in-left {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.slide-in-right {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

