@import "backgrounds";
:host {
    #banner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: baseline;
        padding: 0.25em 0.25em;
        margin: 0.2em 0.2em;
        @extend .dark-gray-alpha-background;
    }

    body.dark-mode & #banner-container {
        @extend .light-gray-alpha-background;
    }

    h1 {
        margin: auto 0;
    }
}