@import "backgrounds";
@import "slide-animations";

:host {
    #intro-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        @extend .dark-gray-alpha-background;
        @extend .slide-in-right;
        mat-icon {
            transform: scale(2);
            padding: 1em;
        }
    }

    body.dark-mode & #intro-container {
        @extend .light-gray-alpha-background;
    }
}