<div id="intro-container">
    <mat-icon fontIcon="terminal"></mat-icon>
    <p>
        I'm a full-stack software engineer based out of Chicago, Illinois. I’ve been programming since I was fifteen, and it remains both a professional passion and hobby I truly enjoy.
        You will often find me toying with a project of some sort, most of which never see the light of day. 
        Some of my technical interests include C#/.NET, distributed systems, neural networks and Angular. 
        Feel free to check out my resume and reach-out using the info below. Thanks!  
    </p>
</div>
