<div id="intro-container">
    <mat-icon fontIcon="terminal"></mat-icon>
    <p>
        I'm a software & web developer based out of Chicago, Illinois. I have been programming since the age of 15 and it has become a passionate pursuit that I also enjoy as a hobby.
        You will often find me working on a programming project of some sort, most of which never see the light of day. 
        Unfortunately, I was laid off from my position at Avanade Inc. in late February 2023. Therefore, I am currently <b>looking for new opportunities.</b>
        If you have an opportunity in mind, feel free to check out my resume and reach-out using the info below. Thanks!  
    </p>
</div>
