@import "backgrounds";
@import "slide-animations";

:host {
    #intro-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        @extend .dark-gray-alpha-background;
        @extend .slide-in-right;

        mat-icon {
            transform: scale(2);
            padding: 1em;
        }
        
        p {
            text-indent: 1em;
        }
    }

    body.dark-mode & #intro-container {
        @extend .light-gray-alpha-background;
    }

    @media screen and (min-width: 600px) {
      #intro-container {
        max-width: 60vw;
        margin: 0 auto;
      }
    }

    @media screen and (min-width: 1000px) {
      #intro-container {
        max-width: 40vw;
      }
    }
}