@import "backgrounds";
@import "slide-animations";

:host {
    #home-container {
        margin: 1em;
    }

    #home-weather-container {
      padding-bottom: 4em;
    }

    #button-container {
        display: flex;
        flex-direction: column;
        margin: 1em 1em;
        @extend .slide-in-bottom;

        button {
            height: fit-content;
            margin-bottom: 1em;
            color: inherit;
            padding: 0.5em;
            
            @extend .dark-gray-alpha-background;

            p {
                margin: 0;
            }
        }
    }

    body.dark-mode & #button-container {
        button {
            color: inherit;
            @extend .light-gray-alpha-background;
        }
    }

    @media screen and (min-width: 600px) {
      #button-container {
        max-width: 40vw;
        margin: 4em auto;
      }
    }

    @media screen and (min-width: 1000px) {
      #button-container {
        max-width: 20vw;
      }
    }
}