/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #2a3439;
}

body.dark-mode {
  color: #F1F2F8;
  background: rgb(21, 23, 52);
  background: linear-gradient(68deg, rgba(21, 23, 52, 1) 0%, rgba(21, 41, 52, 1) 55%, rgba(42, 55, 62, 1) 100%);
}

body:not(.dark-mode-preloading) {
  transition: all 0.3s linear;
}